@import "@boundlessgeo/sdk/stylesheet/sdk.scss";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #556B2F;
  height: 150px;
  padding: 20px;
  color: white;
}

.SeedLogo {
  height: 10px;
}

.logoz {
  height: 10px;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
}
.btn-custom {
    background-color: #556B2F;
    color: white;
}

.App-intro {
  font-size: large;
}

.map-buttons {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}

.main-map {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
